@inherits Umbraco.Web.Mvc.UmbracoViewPage

    <footer class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col text-center py-4">
                    <ul class="list-inline-item">
                        <li class="list-inline-item">
                            <a href="https://www.bluelightcrm.com/contact-us" target="_blank" title="Open contact page">
                                <span class="fas fa-envelope fa-2x text-white"></span>
                            </a>
                        </li>
                    </ul>
                    <p class="text-white">Copyright &copy; @DateTime.Now.Year Bluelight Test</p>
                </div>
            </div>
        </div>
    </footer>